.h1{
    padding-bottom: 20px;
}
#nav{
    padding-left: 60px;
    padding-right: 130px;
    background-color: #ff2953;
    width: 100%;
}
.add{
    
    color: white;
}
#dropdown{
    margin-right: 10px;
    
}




/* color de botones */
.cancelar{
    background-color: #8b8787;
}
.crear{
    background-color: #04bd1a;
}
.editar{
    background-color: #f0b906;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #b3b3b2;
}
.col-4{
    padding: 100px;
}
